/*------------------------------------------------------------------
>>> TABLE OF CONTENTS
--------------------------------------------------------------------
1.0 - SCSS Variables
2.0 - Home Page
    2.1 - PLay Button
    2.2 - Connections Informations
    2.3 - Log Preview
3.0 - Keyframes

*/


/*------------------------------------------------------------------
1.0 - SCSS Variables
------------------------------------------------------------------*/
$logPreviewContainerHeight: 190px;


/*------------------------------------------------------------------
2.0 - Home Page
------------------------------------------------------------------*/
#homeContent {
    grid-area: content;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px 120px $logPreviewContainerHeight 0px;

    /*------------------------------------------------------------------
    2.1 - Play Button
    ------------------------------------------------------------------*/
    #buttonContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        .startStopAnimation {
            &::before {
                left: 20% !important;
                opacity: 0 !important;
            }

            &::after {
                left: 50% !important;
                opacity: 1 !important;
            }
        }

        #startStopButton {
            margin-top: 20px;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            font-size: 20px;
            position: relative;

            &::before, &::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;

                top: 50%;
                transform: translate(-50%, -50%);
                transition: all .2s ease-in-out;
            }

            &::before {
                content: attr(data-start);
                position: absolute;
                left: 50%;
                color: #15947a;
            }

            &::after {
                content: attr(data-stop);
                position: absolute;
                left: 80%;
                opacity: 0;
                color: #cc3d2d;
            }
        }
    }

    /*------------------------------------------------------------------
    2.2 - Connections Informations
    ------------------------------------------------------------------*/
    #infoContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;

        #leftInfo,
        #rightInfo {
            p {
                color: white;
                text-align: center;
            }

            hr {
                margin: 10px auto;
                width: 10px;
                border: 0.5px solid rgba(100, 100, 100, 0.5);
            }
        }
    }

    /*------------------------------------------------------------------
    2.3 - Log Preview
    ------------------------------------------------------------------*/
    #logPreviewContainer {
        position: relative;

        height: $logPreviewContainerHeight;
        min-width: 360px;;
        width: 70%;
        max-width: 600px;

        border: 2px dashed grey;
        border-radius: 5px;

        margin: auto;

        background-color: rgba(128, 128, 128, 0.03);
        color: white;


        #logPreview {
            overflow: auto;
            height: 100%;
            width: 100%;
            padding: 15px;

            p {
                margin: 5px 0px;

                &.endSession {
                    margin-bottom: 20px;
                }

                &.animated_waiter {
                    color: #ffd866;

                    &::after {
                        content: ' ';
                        animation: animation_waiter 4s infinite;
                    }
                }

                span {
                    &.time {
                        color: grey;
                        font-size: 13px;
                        margin-left: 10px;
                    }
                }
            }
        }

        #actionsButtons {
            position: absolute;
            top: 8px;
            right: 10px;

            #resetLogsButton {
                background: none;
                color: grey;

                &:hover {
                    color: white;
                }
            }
        }
    }
}

/*------------------------------------------------------------------
3.0 - Keyframes
------------------------------------------------------------------*/
@keyframes animation_waiter {
    25% {
        content: ' .';
    }
    50% {
        content: ' ..'
    }
    75% {
        content: ' ...'
    }
    100% {
        content: ''
    }
}
