<h1>Start Spying Now</h1>

<div id="homeContent">
    <div id="buttonContainer">
        <button id="startStopButton" data-start="&#xf04b;" data-stop="&#xf04d;"></button>
    </div>

    <div id="infoContainer">
        <div id="leftInfo">
            <p>Number of connections</p>
            <hr>
            <p id="nbrOfConnections">0</p>
        </div>
        <div id="rightInfo">
            <p>Last connection</p>
            <hr>
            <p id="lastConnectionTime">__:__:__</p>
        </div>
    </div>

    <div id="logPreviewContainer">
        <div id="logPreview"></div>
        <div id="actionsButtons">
            <button id="resetLogsButton"><i class="fas fa-trash-alt"></i></button>
        </div>
    </div>

</div>
