<h1>How to use</h1>

<div id="infoContent">
    <h2>1. Configure the settings</h2>

    <h3>Screenshots settings</h3>

    <h4>X coordinate :</h4>
    <p>Sets the pixel on the horizontal axis from which the screenshot will be taken.</p>
    <p class="defaut_value"><i class="fas fa-angle-right"></i> Default value: null</p>

    <h4>Y coordinate :</h4>
    <p>Sets the pixel on the vertical axis from which the screenshot will be taken.</p>
    <p class="defaut_value"><i class="fas fa-angle-right"></i> Default value: null</p>

    <h4>Screenshot width :</h4>
    <p>The screenshot's width in pixel.</p>
    <p class="defaut_value"><i class="fas fa-angle-right"></i> Default value: 10px</p>

    <h4>Screenshot height :</h4>
    <p>The screenshot's height in pixel.</p>
    <p class="defaut_value"><i class="fas fa-angle-right"></i> Default value: 10px</p>

    <br>

    <p class="h3_explanation">To have the correct size and location settings, you must only see the "online" status text of the person and the top-left corner of the image must start at the top-left corner of the first letter.</p>
    <p class="h3_explanation">The screenshot must be like the following one :</p>
    <img data-src="screenshot_example/online-status-example.png" data-folder="images" alt="Screenshot example" class="h3_explanation">

    <h3>Application settings</h3>

    <h4>Data directory :</h4>
    <p>The absolute path of the directory where the screenshots <span class="comment-italic">(if enabled)</span> and the log file <span class="comment-italic">(if enabled)</span> are going to be saved.</p>
    <p class="defaut_value"><i class="fas fa-angle-right"></i> Default value: ' '</p>

    <h4>Save the screenshots :</h4>
    <p>If enabled, the screenshots the application makes in order to find if a person is online will be saved in a subfolder called "screenshots" in the data directory specified.</p>
    <p class="defaut_value"><i class="fas fa-angle-right"></i> Default value: false</p>

    <h4>Write status changes in log file :</h4>
    <p>If enabled, writes every new status change in a log.txt file.</p>
    <p class="defaut_value"><i class="fas fa-angle-right"></i> Default value: true</p>

    <h4>Reset log file before starting a new spy session :</h4>
    <p>
        If enabled, clears the log file content before every new spy session.
        <br>
        The file will therefore contain only the log changes of the session started.
    </p>
    <p class="defaut_value"><i class="fas fa-angle-right"></i> Default value: false</p>

    <h4>Send notifications when online :</h4>
    <p>If enabled, the application will automatically push notifiation to your phone to alert you in real time of every new connection detected.</p>
    <p>This option requires a token, which one can be obtained by going to <a href="https://whatsappspy.droduit.ch">https://whatsappspy.droduit.ch</a>.</p>
    <p class="defaut_value"><i class="fas fa-angle-right"></i> Default value: <span class="value">false</span></p>

    <h3>Advanced settings</h3>

    <h4>Color to identify the text</h4>
    <p>Sets the pixel color which will be used to determine if there's text or not.</p>
    <p>The greater the contrast between the status text color and its background, the more reliable the detection will be every time.</p>
    <p class="defaut_value"><i class="fas fa-angle-right"></i> Default value: '#7c7c7c'</p>

    <h2>2. Start spying</h2>
    <p>You're all set to start spying on someone's connection ! 👏</p>
    <p>Go to the home page and start now ! 👀</p>

    <br>
    <br>

    <h2>Issues found ?</h2>
    <p>If something doesn't work or behave as you expected, let us know by reporting a new issue on <a href="https://github.com/d-roduit/whatsappspy">https://github.com/d-roduit/whatsappspy</a>.</p>
</div>
